---
layout: default
---
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Datashack 2019</h2>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Politecnico di Milano - Harvard joint program on Data Science</h3>

<br> 

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
During the second year of my Master's I was selected to partecipate in an innovative multidisciplinary project involving students and faculty from the <a href="https://iacs.seas.harvard.edu">Institute for Applied Computational Science (IACS)</a> at Harvard’s John A. Paulson School of Engineering and Applied Sciences (SEAS) and from the Master Courses in Computer Engineering and Design of Communication at <a href="https://polimi.it">Politecnico di Milano</a>.
</p>

<p align="center">
	<img src="/img/polimi.png" width="20%">
	<img src="/img/harvard.png" width="20%">
</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
The program involved eight students in total, four from Harvard and four from Politecnico di Milano, joined together to solve problems within the data science context. This activity will gave me the opportunity to work collaboratively with real world application.
</p>



<hr>
<br>