---
layout: default
---
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Datashack 2019</h2>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Politecnico di Milano - Harvard joint program on Data Science</h3>

<br> 

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
During the second year of my Master's I was selected to partecipate in an innovative multidisciplinary project involving students and faculty from the <a href="https://iacs.seas.harvard.edu">Institute for Applied Computational Science (IACS)</a> at Harvard’s John A. Paulson School of Engineering and Applied Sciences (SEAS) and from the Master Courses in Computer Engineering and Design of Communication at <a href="https://polimi.it">Politecnico di Milano</a>.
</p>

<p align="center">
	<img src="/img/polimi.png" width="20%">
	<img src="/img/harvard.png" width="20%">
</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
The program involved eight students in total, four from Harvard and four from Politecnico di Milano, joined together to solve problems within the data science context. This activity gave me the opportunity to work collaboratively with real world data science applications.
</p>
<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
My group worked to develop a predictive tool for Alpitour Group. Alpitour was founded in 1947 in Italy as a small travel agent and it is today an international group with a turnover of 1,4 billion Euro, ranging from tour operating to hotel management, aviation and travel agencies. Our final aim was to develop a model to make predictions of departures one year in advance. In this way, the company can carefully adjust the capacity of planned flights minimizing losses.
</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
Using Cuba as a case study, we developed a modular software pipeline and a frontend dashboard with a detailed explanation on how to adjust our code for future usages.
We leveraged both on internal data (provided by Alpitour) and external data (e.g. Google Trends) to build an additive model with Gaussian Process regressor.
</p>

<p align="center">
	<img src="/img/datashack/ds_1.jpg" width="40%">
	<img src="/img/datashack/ds_2.jpg" width="40%">
</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
It was a really exciting experience and I had the chance to work with students with a totally different background and to learn how to present our work to a non-technical audience. I also learnt how the American University system works, which are the strengths and weaknesses compared to the Italian system and how we s
</p>

<hr>
<br>