---
layout: default
---
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Datashack 2019</h2>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Politecnico di Milano - Harvard joint program on Data Science</h3>

<p align="center">
	<img src="/img/polimi.png" width="25%">
	<img src="/img/harvard.png" width="25%">
</p>


<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
On this website you can find my info and contacts, the projects that I've built on GitHub, some articles and blog posts. You can also download an updated version of my <a href="tscarlatti-resume.pdf">resume</a>.
</p>
<hr>
<br>