---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>FAWLTS</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>From Alumni, With Love, To Students</h3>
<br>

<p align="center">
	<img src="/img/fawlts_cover.png" width="100%">
</p>

<br>


<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>What is FAWLTS?</h3>
<p>
	FAWLTS is a NGO that bridges the gap between schools and the job market, helping students understand what they want to do when they grow up and equipping them with critical cross-disciplinary skills, ultimately contributing to reduce the incidence of NEET of under 30s. We do this by supporting the birth and the growth of Alumni Communities around their former high schools.
</p>

<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Why is so important to reduce the gap?</h3>
<p>

<ul style="margin-left: 1.5em;">
	<li>
		<b>27.8%</b> of NEET (Neither in Employment or in Education or Training) people between 20 and 35yo in Italy. The main cause is the difficulty to find a suitable path for the future and to know the range of possibilities that exist. 
	</li>
	<li>
		<b>130%</b> more chances that a child of a manager has to find a better job with respect to a child of a workman.
	</li>
</ul>
</p>

<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Why is so difficult to know what you want to be when you grow up?</h3>

<p>

	<ol style="margin-left: 1.5em;">
	<li>
		Limited visibility of the whole range of existing jobs
	</li>
	<li>
		Hard to have an idea of what it really means to do a specific job
	</li>
	<li>
		Impossibility to define the proper path to build an ideal profile for a particular kind of job
	</li>
</ol>
</p>


<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>My role in FAWLTS</h3>

<p>
FAWLTS is a community of +750 professionals, organized in +20 hubs in +10 regions, who decided to be committed to help young generations in overcoming the gaps between schools and job market.
</p>
<p>
I joined FAWLTS in November 2020, as the Head of the Hub of Liceo Scientifico Castelnuovo in Florence. My main goal is to build a community of ex-alumni with different backgrounds, in order to create an etherogeneous pool of professionals which can be of great help for the future college students and future workers.
</p>
<p>
The final aim - pandemic aside - is to be hosted in the school to organize "Job Days", an efficient and scalable mechanism to provide students with crucial information regarding their future professional path.
</p>

<br>

<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Website: <a href="https://fawls.com">https://fawlts.com</a></h3>



