---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>FAWLTS</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>From Alumni, With Love, To Students</h3>
<br>

<p align="center">
	<img src="/img/fawlts_cover.png" width="100%">
</p>

<br>


<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>What is FAWLTS?</h3>
<p>
	FAWLTS is a NGO that bridges the gap between schools and the job market, helping students understand what they want to do when they grow up and equipping them with critical cross-disciplinary skills, ultimately contributing to reduce the incidence of NEET of under 30s. We do this by supporting the birth and the growth of Alumni Communities around their former high schools.
</p>
