---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>FAWLTS</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>From Alumni, With Love, To Students</h3>
<br>

<p align="center">
	<img src="/img/fawlts_cover.png" width="100%">
</p>

<br>


<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>What is FAWLTS?</h3>
<p>
	FAWLTS is a NGO that bridges the gap between schools and the job market, helping students understand what they want to do when they grow up and equipping them with critical cross-disciplinary skills, ultimately contributing to reduce the incidence of NEET of under 30s. We do this by supporting the birth and the growth of Alumni Communities around their former high schools.
</p>

<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Why is so important to reduce the gap?</h3>
<p>

<ul>
	<li>
		<b>27.8%</b> of NEET (Neither in Employment or in Education or Training) people between 20 and 35yo in Italy. The main cause is the difficulty to find a suitable path for the future and to know the range of possibilities that exist. 
	</li>
	<li>
		<b>130%</b> more chances that a child of a manager has to find a better job with respect to a child of a workman.
	</li>
</ul>
</p>

<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Why is so difficult to know what you want to be when you grow up?</h3>

<p>

</p>
