---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Good Reads 📚</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>A miscellaneous list of books and articles that I would recommend.</h3>
<br>

<h2> Books </h2>
<ul style="margin-left: 2em;">
	<li>
		<b>Sapiens</b>  <i>Yuval Noah Harari</i>  (2014)
	</li>
	<li>
		<b>Why We Sleep</b>  <i>Matthew Walker</i> (2017)
	</li>
	<li>
		<b>Thinking, Fast and Slow</b>  <i>Daniel Kahneman</i>  (2011)
	</li>
	<li>
		<b>L'Ordine del Tempo</b>  <i>Carlo Rovelli</i>  (2017)
	</li>
	<li>
		<b>The Power of Habit</b>  <i>Charles Duhigg</i>  (2012)
	</li>
	<li>
		<b>L'Universo Elegante</b>  <i>Brian Greene</i>  (1999)
	</li>
</ul>

<br>

<h2> Articles </h2>
<ul style="margin-left: 2em;">
	<li>
	</li>
	<br>
	<li>
	</li>
</ul>

<br>