---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Pocket Maths 🧮</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>My theses and a (short) list of publications that I wrote during my academic years.</h3>
<br>

<h2> Theses </h2>
<ul style="margin-left: 2em;">
	<li>
		<i>Analysis and development of a Token Game component in Java for stochastic Petri nets in Oris tool</i>
		<br/>
		<b>University of Florence</b>
		<br/>
		Prof. Enrico Vicario
		<br/>
		<a href= "/notes/bs_thesis.pdf">⏬ Download (.pdf)</a>
	</li>
	<br>
	<li>
		🚧 Currently under development 🚧
		<br/>
		<b>Politecnico di Milano - Harvard University </b>
		<br/>
		Prof. Marco Brambilla, Prof. Pavlos Protopapas
	</li>
</ul>

<br>