---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Pocket Maths  🧮</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>An iOS app with mathematics lectures, exercises, and exam tests for high school students.</h3>
<br>

<p> 
In 2013, during my last year of high school at Liceo Scientifico G. Castelnuovo, I developed an iOS app which gathered lectures, exercises and exams from my maths and physics professor. The design and the development of the application was a jointly effort between a passionate classmate, <b>Federico Baldi Lanfranchi</b>, and me. The support of our professor, <b>Francesco Parigi</b>, was really generous. He gave us the possibility to use his material with no limitations, and helped us developing some of the utilities.
</p>
<p>
It has been a really educational project, that gave us the possibility to give some "lectures" to other students and professors and to have two interviews with two local journals (<i>La Nazione, Il Corriere Fiorentino</i>) as shown below. We also created a startup with the fancy name "SB AppStudios", which recalled the initials of our last names.
</p>
<br>

</p>
<p align="center">
	<a href="/img/pocket_maths/repubblica.png">
		<img src="/img/pocket_maths/repubblica.png" width="20%">
	</a>
	<a href="/img/pocket_maths/corriere.png">
		<img src="/img/pocket_maths/corriere.png" width="70%">
	</a>
</p>

<br>


<h2> Development </h2>
<p>
Back in the days, the development of the application was driven by the broad spread of smartphones among students, with the aim of making studying material as handy and economic as possibile. This explains the name and the slogan of the app, <i>Pocket Maths: bring your maths with you!</i>
</p>
<p>
We chose the iOS environment beacuse we owned Apple devices at that time, and we had little previous experience with Objective-C language. For what concerns the design, we adopted a mixture of a flatten and skeuomorphic approach, given the shift that Apple itself was operating between iOS 6 and 7.</i>
</p>
<p>
Here below you can see the home page of Pocket Maths and its twin app, Pocket Physics, developed few moths after the first release.
</p>

<br>
<p align="center">
	<a href="/img/pocket_maths/screen.png">
		<img src="/img/pocket_maths/screen.png" width="25%">
	</a>
	<a href="/img/pocket_maths/screen_pf.png">
		<img src="/img/pocket_maths/screen_pf.png" width="25%">
	</a>
</p>


<br>

<h2> Overview </h2>
These are the main functionalities of the application:
<br><br>

<ul style="margin-left: 2em;">
	<li>
		<b>Complete Course</b>: a collection of all the lectures of the last three year of high school from Prof. Parigi.
	</li>
	<li>
		<b>Topics</b>: choose a specific topic to study.
	</li>
	<li>
		<b>Utilities</b>: a set of mathematical tools.
		<ul style="margin-left: 2em;">
			<li>Second-degree equation resolutor</li>
			<li>Canonical recognition from a generalized form</li>
			<li>Trigonometric tables</li>
		</ul>
	</li>
	<li>
		<b>Exams</b>: collection of real examples of exams of the past years.
	</li>
	<li>
		<b>Glossary</b>: collection of the most useful terms.
	</li>
</ul>

<br>