---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Publications 📝</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>My theses and a (short) list of publications that I wrote during my academic years.</h3>
<br>

<h2> Theses </h2>
<ul style="margin-left: 2em;">
	<li>
		<i>Improving Domain-specific Transfer Learning for Image Recognition and Differential Equations </i>
		<br/>
		MSc Computer Science and Engineering
		<br/>
		<b>Politecnico di Milano - Harvard University</b>
		<br/>
		Prof. Marco Brambilla, Prof. Pavlos Protopapas
		<br/>
		<a href= "/docs/msc_thesis.pdf">⏬ Download (.pdf)</a>
	</li>
	<br>
	<li>
		<i>Analysis and Development of a Token Game Component in Java for Stochastic Petri Nets in Oris Tool</i>
		<br/>
		BSc Computer Science and Engineering
		<br/>
		<b>University of Florence</b>
		<br/>
		Prof. Enrico Vicario
		<br/>
		<a href= "/docs/bsc_thesis.pdf">⏬ Download (.pdf)</a>
	</li>
</ul>

<br>

<h2> Publications </h2>
<ul style="margin-left: 2em;">
	<li>
		Sebastiano Antenucci, Simone Boglio, Emanuele Chioso, Ervin Dervishaj, Shuwen Kang, Tommaso Scarlatti, Maurizio Ferrari Dacrema, <i>Artist-driven layering and user's behaviour impact on recommendations in a playlist continuation scenario</i>, Proceedings of the ACM Recommender Systems Challenge 2018, p.1-6, October 02-02, 2018, Vancouver, BC, Canada. [<a href="https://re.public.polimi.it/retrieve/handle/11311/1101639/410637/a4-Antenucci.pdf">link</a>]
	</li>
</ul>

<br>