---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Slides and Notes 📊📔</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>A collection of slides and notes that I prepared throughout the years.</h3>
<br>

<h3> College projects </h3>
<ul style="margin-left: 2em;">
	<li>
		<a href="/slides/middleware.pdf">Middleware Technologies for Distributed Systems</a> (September 2019) 
	</li>
	<li>
		<a href="/slides/complex_systems_and_networks.pdf">Complex Systems and Networks</a> (January 2019) 
	</li>
	<li>
		<a href="/slides/travlendar.pdf">Software Engineering II</a> (February 2018) 
	</li>
	<li>
		<a href="/slides/recsys_polimi.pdf">Recommender Systems</a> (January 2018) 
	</li>
	<li>
		<a href="/slides/token_game.pdf">Token Game: Bachelor Thesis</a> (Italian) (July 2017) 
	</li>
	<li>
		<a href="/slides/3d_tour.pdf">Multimedia Production</a> (Italian) (June 2017) 
	</li>
</ul>

<br>

<h3> Extracurricular activities </h3>
<ul style="margin-left: 2em;">
	<li>
		<a href="/slides/alpitour.pdf">Datashack 2019: Alpitour Travel Group</a> (May 2019) 
	</li>
	<li>
		<a href="/slides/recsys_challenge.pdf">Spotify Recsys Challenge 2018</a> (October 2018) 
	</li>
	<li>
		<a href="/slides/deepweb.pdf">A Journey into the Deep Web</a> (Italian) (February 2018) 
	</li>
</ul>

<br>

<h3> Notes </h3>
<ul style="margin-left: 2em;">
	<li>
		<a href="/notes/tis.pdf">Technologies for Information Systems</a> (2019) 
	</li>
	<li>
		<a href="/notes/flc_lab.pdf">Formal Languages and Compilers</a> (2019) 
	</li>
	<li>
		<a href="/notes/distributed_systems.pdf">Distributed Systems</a> (2018) 
	</li>
</ul>


<br>
<br>
<br>
<hr>
<br>