---
layout: default
---

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Spotify RecSys Challenge 2018</h2>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Music recommendation in a playlist continuation scenario</h3>

<br>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
In the first year of my Master's at Politecnico di Milano I took part as a member of the official team of the University to the <a href="https://recsys-challenge.spotify.com">Spotify Recsys Challenge 2018</a>. We called our team "Creamy Fireflies", a wordplay between a famous song by Owl City and our supervisor's name: Prof. Paolo Cremonesi.
</p>

<p align="center">
  <img width="75%" src="/img/recsys/spotifychallenge.png">
  <img width="60%" src="/img/recsys/logo.png">
</p>

<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
The challenge was organized by Spotify, The University of Massachusetts, Amherst, and Johannes Kepler University, Linz. The goal of the challenge was to develop a system for the task of automatic playlist continuation. Given a set of playlist features, participants’ systems should generate a list of recommended tracks that can be added to that playlist, thereby ‘continuing’ the playlist.
</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
The challenge was split into two parallel challenge tracks. In the main track, teams could only use data that is provided through the Million Playlist Dataset, while in the creative track participants could use external, public and freely available data sources to boost their system.
</p>

<hr>
<br>