---
layout: default
---

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Spotify RecSys Challenge 2018</h2>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Politecnico di Milano - Harvard joint program on Data Science</h3>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Welcome to my personal space! I'm Tommaso Scarlatti, I was born and raised in Florence, Italy. I'm a Computer Engineer, I love coding and playing soccer.
</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
On this website you can find my info and contacts, the projects that I've built on GitHub, some articles and blog posts. You can also download an updated version of my <a href="tscarlatti-resume.pdf">resume</a>.
</p>
<hr>
<br>