---
layout: default
---

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Spotify RecSys Challenge 2018</h2>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>Music recommendation in a playlist continuation scenario</h3>

<br>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
In the first year of my Master's at Politecnico di Milano I took part as a member of the official team of the University to the <a href="https://recsys-challenge.spotify.com">Spotify Recsys Challenge 2018</a>. We called our team "Creamy Fireflies", a wordplay between a famous song by Owl City and our supervisor's name: Prof. Paolo Cremonesi.
</p>

<p align="center">
  <img width="75%" src="/img/recsys/spotifychallenge.png">
  <img width="60%" src="/img/recsys/logo.png">
</p>

<br>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
The challenge was organized by Spotify, the University of Massachusetts and Johannes Kepler University. The goal of the challenge was to develop a system for the task of automatic playlist continuation. Given a set of playlist features, participants’ systems should generate a list of recommended tracks that can be added to that playlist, thereby ‘continuing’ the playlist.
</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
The challenge was split into two parallel challenge tracks. In the main track, teams could only use data that is provided through the Million Playlist Dataset, while in the creative track participants could use external, public and freely available data sources to boost their system.
</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
We <b>ranked 2nd</b> in the Creative Track and 4th in the Main Track among 100+ teams. It was really an amazing result, since we were a team made of only Master's students with no previous experience. We worked very hard for months, combining our skills and learning from each other.
<br>
Working on this project has been very exciting and challenging for a variety of reasons: I learnt how to work as a team on a big project, how to coordinate and prioritise tasks, and how to convey my ideas in the most efficient and effective ways to colleagues and supervisors.
</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">
In October 2018, I had the chance to present our paper to the 12th ACM RecSys conference in Vancouver. It was my first time presenting something in front of such a big, international audience.
</p>
<br>
<p align="center">
	<img src="/img/recsys/recsys_1.jpg" width="45%">
	<img src="/img/recsys/recsys_2.jpg" width="45%">
</p>
<br>
The conference was a terrific experience. People from top Universities and tech companies from all over the world gathered together in one place, discussing about cutting-edge approaches in the Recommender Systems' field. Amazing!
I really thank our advisor, Professor Paolo Cremonesi, for constantly following us during the challenge, and Maurizio Ferrari Dacrema, PhD, who helped us in the most complicated tasks. Their support was fundamental.
<hr>
<br>