---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Tenbuilders  🔨</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>A web platform to help college and high school students to find selected tutors.</h3>
<br>

<p>
In 2015 I was involved, with two other students from the Bocconi University, in the development of a new platform to promote the encounter between students and tutors, creating a new form of tutoring, a "Tutoring 2.0". (<a href="http://www.tenbuilders.it">http://www.tenbuilders.it</a>)
</p>
<p>
The idea that drove us is that tutoring can be extremely expensive and even unreliable in terms of expected outcome (i.e. grades). With Tenbuilders we wanted to create a platform in which only fresh, selected tutors can offer their knowledge of different areas of expertise 
for a modest price between 10-18€. The tutoring system was active in three main cities in Italy (Milan, Rome, Florence) and could be arranged via Skype call too.
</p>

<br>
<p align="center">
	<a href="/img/tenbuilders/screen.png">
		<img src="/img/tenbuilders/screen.png" width="80%">
	</a>
</p>
<br>

Three are the key ideas on which the platform was built on:
<br>
<ul style="margin-left: 2em;">
	<li> <b>Simplicity</b>: an easy and effortless way to find a tutor.</li>
	<li> <b>Competence</b>: only selected tutors are part of the Tenbuilders network.</li>
	<li> <b>Saving</b>: tutoring with modest prices between 10-18€.</li>
</ul>
<br>
<p>
For what concerns the development of the platform, we relied on a Wordpress theme with some useful plugins to build the front-end. The backend was simply a MySQL database with tutors records which were retrieved whenever a customer was looking for a tutoring session.
We also used newly introduced CSS3 <i>transitions</i> to enhance the user experience in a lightweight way.
</p>

<p>
I also supervised the design of the platform, creating the logo which shows a "10" that is slowly built by solid bricks. This represents clearly the message of our platform: solid academic success can be achieved following the guidance of our tutors.
</p>

<p align="center">
	<img src="/img/tenbuilders/10.png" width="50%">
</p>