---
layout: default
---

<h1 {% if site.style == 'dark' %}class="text-white"{% endif %}>Tenbuilders  🔨</h1>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}>A web platform to help college and high school students to find selected tutors.</h3>
<br>

<p>
In 2015 I was involved, with two other students from the Bocconi University, in the development of a new platform to promote the encounter between students and tutors, creating a new form of tutoring, a "Tutoring 2.0".
</p>
<p>
The idea that drove us is that tutoring can be extremely expensive and even unreliable in terms of expected outcome (i.e. grades). With Tenbuilders we wanted to create a platform in which only fresh, selected tutors can offer their knowledge of different areas of expertise 
for a modest price between 10-18 €. The tutoring system was active in three main cities in Italy (Milan, Rome, Florence) and could be arranged via Skype call too.
</p>

<p align="center">
	<a href="/img/tenbuilders/screen.png">
		<img src="/img/tenbuilders/screen.png" width="70%">
	</a>
</p>
 
Preparazione rappresenta il prerequisito fondamentale per far parte del team dei 10builders. La nostra squadra è costituita UNICAMENTE DA STUDENTI UNIVERSITARI quindi dalle persone più indicate per mostrare a chi ha bisogno di ripetizioni come avere successo in un ambito scolastico che hanno vissuto e stanno vivendo in prima persona. Per assicurarci la massima preparazione dei Tenbuildes® selezioniamo accuratamente i candidati e diamo la possibilità ad ogni utente di valutare il servizio offerto tramite il rilascio di un feedback.
 
Risparmio perché pensiamo che le ripetizioni debbano necessariamente essere un servizio alla portata di tutti senza che il costo un problema. La strada verso il successo scolastico va costruita lezione dopo lezione e ad ogni situazione è giusto dedicare tutto il tempo necessario senza che vi siano ostacoli di alcun genere. Per tali ragioni teniamo un prezzo orario compreso tra i 10 e i 18 € al fine di permettere un sereno svolgimento delle lezioni e del percorso verso la soddisfazione scolastica.
 
Facilitare e rendere più accessibile il mondo delle ripetizioni è l’obiettivo del team di Tenbuilders®, scopo che verrà perseguito senza mai tradire i principi cardine che hanno dato vita a questo progetto. Semplicità, preparazione e risparmio sono le parole chiave di un servizio in grado di migliorare l’esperienza scolastica e permettere che essa venga vissuta con la serenità che le compete.
 
Nasce il mondo delle Ripetizioni 2.0 da studente a studente.

<br>